.buttons {
  border: none;
  width: 70px;
  height: 100%;
  padding: 5px;
  background-color:rgba(29, 88, 159, 0.947);
  color: white;
  margin-right: 10px;
  border-radius: 5px;
}

.buttons:hover {
transform: scale(1.02);
cursor: pointer;
}
