.mainContainer {
  /* border: 2px solid red; */
  padding: 20px;
}

.header {
  /* border: 2px solid red; */
  padding: 20px;
}

.bodyContainer {
  /* border: 2px solid red; */
  padding: 20px;
}

.functionality {
  /* border: 2px solid red; */
  padding: 20px;
}

.item {
  /* border: 2px solid red; */
  padding: 15px 0px;
}
