.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(45, 82, 99, 0.701);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalContent {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 450px;
  background-color: white;
  border-radius: 5px;
  padding: 25px;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  font-size: 5rem;
}

.modalHeader h1 {
  font-size: 1.5rem;
}

.close {
  cursor: pointer;
  margin-right: 5%;
}
.close:hover {
  transform: scale(1.3);
}

.modalBody {
  display: flex;
  flex-direction: column;
  /* border: 2px solid blue; */
  padding: 15px;
}

.labels,
.inputs,
.errorContainer {
  margin-bottom: 5px;
  color: rgb(5, 25, 35);
}

.inputs {
  padding: 5px;
  margin-bottom: 15px;
  border: 2px solid rgb(9, 149, 214);
  width: 90%;
}

.errorContainer {
  color: red;
}

.buttonContainer {
  /* border: 2px solid blue; */
  padding: 5px;
  display: flex;
  justify-content: center;
}
.button {
  padding: 5px;
  width: 150px;
  height: 40px;
  color: white;
  border: none;
  background-color: rgb(9, 149, 214);
  border-radius: 5px;
}

.button:hover {
  transform: scale(1.02);
  cursor: pointer;
}
